.icon_content_div i {
    font-size: 50px;
    color: var(--mainColor);
    margin-bottom: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.icon_content_div i:hover {
    color: var(--lightButtonCl);
}

.icon_content_div h3 {
    color: var(--mainColor);
    font-size: 24px;
    font-weight: 300;
}
