/* https://megaone.acrothemes.com/index-corporate-agency.html */
/* https://www.creative-tim.com/blog/web-design/create-scrolling-transformations-react-app/ */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* colors */
:root {
    --darkColor: #030302;
    --lightButtonCl: #c32869;
    --mainColor: #ffffff;
    --darkGray: #161616;
    --dark: #040101;
    --lightSm: #c2c2c2;
    --smLight: #3636361a;
}
/* colors */

/* global classes */
a {
    text-decoration: none;
}

.side_padding {
    padding: 0 100px;
}

.side_padding_two {
    padding: 0 150px;
}

.top_padding {
    padding-top: 60px;
}

.top_padding_tow {
    padding: 80px 0;
}
/* global classes */

/* width */
::-webkit-scrollbar {
    width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
